.contactform {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-inline: 1rem;
  padding: 10px;
  flex-wrap: wrap;
  border: solid black 2px;
}

label {
  margin-inline: 1rem;
}

input[type="text"] {
  margin-right: 10px;
}

.App {
  text-align: center;
}

h4 {
  display: inline;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
}

.singleCard {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: solid blueviolet 1px;
  margin: 10px 10% 5px;
  background-color: bisque;
}

.singleCard:hover {
  border: solid blue 2px;
}

button {
  margin-left: auto;
  order: 2;
  background-color: aquamarine;
}

button:hover {
  cursor: pointer;
  background-color: blue;
}

.singleCard div {
  text-align: left;
  height: 40px;
  width: 240px;

}

.singleCard div h4 {
  margin-top: auto;
  vertical-align: middle;
}

.h1{
  justify-self: center;
  color: red;
}
.navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: antiquewhite;
  align-items: center;
}